.images-gallerie{
    position: relative;
    max-width: 1240px;
    height: 415px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.image-gal{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 415px;
    border-radius: 25px;
}
.chevrons {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-arrow{
    cursor: pointer;
    position: absolute;
    transform: translate(-50%,-50%);
}
.gallerie-info{
    position: absolute;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}
.image-count{
    font-size: 18px;
}


@media (max-width: 1260px) {
    .images-gallerie{
        height: 335px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .image-gal{
        height: 335px;
        border-radius: 25px;
    }
    .nav-arrow{
        height: 50px;
        width: 30px;
    }
}

@media (max-width: 670px) {
    .images-gallerie{
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-arrow{
        height: 20px;
        width: 12px;
    }
    .gallerie-info{
        display: none;
    }
}